<div class="header">
  <h1>Inventory Management System</h1>
</div>

<nav class="navbar">
  <a href="#" [class.active]="currentSection === 'home'" (click)="switchSection('home', $event)">
    Home
  </a>
  <a href="#" [class.active]="currentSection === 'management'" (click)="switchSection('management', $event)">
    Item Management
  </a>
  <a href="#" [class.active]="currentSection === 'search'" (click)="switchSection('search', $event)">
    Search Item
  </a>
  <a href="#" [class.active]="currentSection === 'inventory'" (click)="switchSection('inventory', $event)">
    Display Inventory
  </a>
  <a href="#" [class.active]="currentSection === 'security'" (click)="switchSection('security', $event)">
    Security Analysis
  </a>
  <a href="#" [class.active]="currentSection === 'help'" (click)="switchSection('help', $event)">
    Help
  </a>
</nav>

<div class="container">
  <app-home
    [currentSection]="currentSection"
    [totalCategoryCount]="totalCategoryCount"
    [totalItemCount]="totalItemCount"
    [totalQuantityCount]="totalQuantityCount">
  </app-home>

  <app-security-analysis [currentSection]="currentSection"></app-security-analysis>

  <app-help [currentSection]="currentSection"></app-help>

  <app-management
    [currentSection]="currentSection"
    [currentPanel]="currentPanel"
    [managementMessage]="managementMessage"
    [managementMessageType]="managementMessageType"
    [addForm]="addForm"
    [updateForm]="updateForm"
    [loadItemName]="loadItemName"
    [deleteItemName]="deleteItemName"
    [pendingDeleteName]="pendingDeleteName"
    (setPanelEvent)="setPanel($event)"
    (loadItemNameChange)="loadItemName = $event"
    (deleteItemNameChange)="deleteItemName = $event"
    (clearAddFormEvent)="clearAddForm()"
    (addItemEvent)="addItem()"
    (loadItemEvent)="loadItem()"
    (clearUpdateFormEvent)="clearUpdateForm()"
    (updateItemEvent)="updateItem()"
    (requestDeleteEvent)="requestDelete()"
    (closeConfirmationEvent)="closeConfirmation()"
    (confirmDeleteEvent)="confirmDelete()">
  </app-management>

  <app-search
    [currentSection]="currentSection"
    [searchMessage]="searchMessage"
    [searchMessageType]="searchMessageType"
    [searchKeyword]="searchKeyword"
    [searchResultsInfo]="searchResultsInfo"
    [searchResults]="searchResults"
    (searchKeywordChange)="searchKeyword = $event"
    (clearSearchEvent)="clearSearch()"
    (searchItemEvent)="searchItem()">
  </app-search>

  <app-inventory
    [currentSection]="currentSection"
    [inventoryMessage]="inventoryMessage"
    [inventoryMessageType]="inventoryMessageType"
    [inventoryResultsInfo]="inventoryResultsInfo"
    [displayedInventoryItems]="displayedInventoryItems"
    (showPopularItemsEvent)="showPopularItems()"
    (showAllItemsEvent)="showAllItems()">
  </app-inventory>
</div>